.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    margin: auto;
    margin-top: 10%;
    max-height: 80vh;
    overflow-y: auto;
  }
  
  .ticket-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  