.lottery-section {
    margin-top: 20px;
    border-top: 1px solid #ddd;
    padding-top: 10px;
  }
  
  .lottery-section h3 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .no-lotteries-message {
    color: #ff0000; /* Change to desired color */
    font-size: 1.2rem; /* Adjust font size */
    margin-top: 20px; /* Add some margin if needed */
    text-align: center;
  }

  .lottery-filter {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .filter-button {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .filter-button.active {
    background-color: #4066ff;
    color: white;
    border-color: #4066ff;
  }
  
  .filter-button:hover {
    background-color: #ddd;
  }